.columns > div {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.columns img {
  width: 100%;
}

.columns > div > div > p{
  font-size: 1.2rem;
  letter-spacing: 0.0257143rem;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  padding: 0px 12rem 0px;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div > div > p{
    font-size: 1.2rem;
    letter-spacing: 0.0257143rem;
    line-height: 26px;
    text-align: center;
    text-transform: none;
    padding: 0px 4rem 0px;
  }
}
